<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25A5279m</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AI Remote App</string>
	<key>CFBundleIdentifier</key>
	<string>com-ai-remote.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AI Remote App</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24F74</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.5</string>
	<key>DTSDKBuild</key>
	<string>24F74</string>
	<key>DTSDKName</key>
	<string>macosx15.5</string>
	<key>DTXcode</key>
	<string>1640</string>
	<key>DTXcodeBuild</key>
	<string>16F6</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>AI-Remote needs to send events to control other applications</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app uses bluetooth to find, connect and transfer data between different devices</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need access to your calendar to display events.</string>
	<key>NSContactsUsageDescription</key>
	<string>AI-Remote needs access to your contacts to personalize task assignments.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AI-Remote needs microphone permission to hear you</string>
	<key>NSRemindersUsageDescription</key>
	<string>AI-Remote uses your reminders to manage tasks via automation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>AI-Remote needs Speech recognition permission to transcribe speech</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
</dict>
</plist>
